<button class="btn btn-primary mb-5 mt-5 btn-lg" (click)="onNewAlter()"><fa-icon [icon]="faPlus"></fa-icon>
Nouvel Alternant</button>
<div class="row">
	<div class="col-sm" *ngFor="let alter of alters; let i = index">
		<div class="card m-2" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">{{ alter.nomAlter }}</h5>
				<h6 class="card-subtitle mb-2 text-muted">Début de contrat:
					<span class="font-weight-bold">{{ alter.dateDebutContrat }}</span></h6>
				<h6 class="card-subtitle mb-2 text-muted">Fin de contrat:
					<span class="font-weight-bold">{{ alter.dateFinContrat }}</span></h6>
				<button type="button" class="btn btn-outline-success" (click)="onViewAlter(i)">Voir l'alternant en détail</button>
			</div>
		</div>
	</div>
</div>