<div class="wrapper">
		<h2>Créer une absence </h2>
		<form [formGroup]="absForm" class="form-signin"  (ngSubmit)="onSaveAbs()">
			<div class="form-group">
				<label for="libelleAbs">Motif de l'absence</label>
				<select class="selectpicker"  name="libelleAbs" id="libelleAbs" formControlName="libelleAbs">
           <option *ngFor="let motif of libelleAbsList" [value]="motif.name">{{motif.name}}</option>
        </select>
			</div>
			<div class="form-group">
				<label for="dateD">Date de début d'absence</label>
				<input type="date"
               id="dateD"
               class="form-control"
               formControlName="dateD">
      </div>
				<div class="form-group">
					<label for="dateF">Date de fin d'absence</label>
					<input type="date"
               id="dateF"
               class="form-control"
               formControlName="dateF">
      </div>
					<button class="btn btn-primary"
              type="submit"
              [disabled]="absForm.invalid">Enregistrer l'absence</button>
		</form>
</div>