
<div class="wrapper">
	<form [formGroup]="signupForm" class="form-signin" (ngSubmit)="onSubmit()">
		<h2 class="form-signin-heading">S'inscrire</h2>
		<input type="text" class="form-control" name="username" placeholder="Adresse Mail..." autofocus="" formControlName="email" />
		<input type="password" class="form-control" name="password" placeholder="Mot de passe" formControlName="password"/>
		<button class="btn btn-primary"
              type="submit"
              [disabled]="signupForm.invalid">Créer mon compte</button>
	</form>
</div>